/* _content/DDR/Shared/MainLayout.razor.rz.scp.css */
/* _content/DDR/Shared/MainLayout.razor.rz.scp.css */
/* _content/DDR/Shared/MainLayout.razor.rz.scp.css */
/* _content/DDR/Shared/MainLayout.razor.rz.scp.css */
.page[b-d991vibe2n][b-d991vibe2n][b-d991vibe2n][b-d991vibe2n] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-d991vibe2n][b-d991vibe2n][b-d991vibe2n][b-d991vibe2n] {
    flex: 1;
}

.sidebar[b-d991vibe2n][b-d991vibe2n][b-d991vibe2n][b-d991vibe2n] {
    background: rgb(61,58,115);
    background: linear-gradient(360deg, rgba(61,58,115,1) 0%, rgba(121,110,143,1) 30%, rgba(213,188,247,1) 100%);
}

.top-row[b-d991vibe2n][b-d991vibe2n][b-d991vibe2n][b-d991vibe2n] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: none;
    align-items: center;
}

.top-row[b-d991vibe2n] a[b-d991vibe2n][b-d991vibe2n][b-d991vibe2n], .top-row .btn-link[b-d991vibe2n][b-d991vibe2n][b-d991vibe2n][b-d991vibe2n] {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child[b-d991vibe2n][b-d991vibe2n][b-d991vibe2n][b-d991vibe2n] {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-d991vibe2n][b-d991vibe2n][b-d991vibe2n][b-d991vibe2n] {
        display: none;
    }

    .top-row.auth[b-d991vibe2n][b-d991vibe2n][b-d991vibe2n][b-d991vibe2n] {
        justify-content: space-between;
        display: none;
    }

    .top-row a[b-d991vibe2n][b-d991vibe2n][b-d991vibe2n][b-d991vibe2n], .top-row .btn-link[b-d991vibe2n][b-d991vibe2n][b-d991vibe2n][b-d991vibe2n] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-d991vibe2n][b-d991vibe2n][b-d991vibe2n][b-d991vibe2n] {
        flex-direction: row;
    }

    .sidebar[b-d991vibe2n][b-d991vibe2n][b-d991vibe2n][b-d991vibe2n] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-d991vibe2n][b-d991vibe2n][b-d991vibe2n][b-d991vibe2n] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-d991vibe2n][b-d991vibe2n][b-d991vibe2n][b-d991vibe2n] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/DDR/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-cd7fy65azw][b-d991vibe2n][b-d991vibe2n][b-d991vibe2n] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-cd7fy65azw][b-d991vibe2n][b-d991vibe2n][b-d991vibe2n] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
    display: none;
}

.navbar-brand[b-cd7fy65azw][b-d991vibe2n][b-d991vibe2n][b-d991vibe2n] {
    font-size: 1.1rem;
}

.oi[b-cd7fy65azw][b-d991vibe2n][b-d991vibe2n][b-d991vibe2n] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-cd7fy65azw][b-d991vibe2n][b-d991vibe2n][b-d991vibe2n] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-cd7fy65azw][b-d991vibe2n][b-d991vibe2n][b-d991vibe2n] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-cd7fy65azw][b-d991vibe2n][b-d991vibe2n][b-d991vibe2n] {
    padding-bottom: 1rem;
}

.nav-item[b-cd7fy65azw] a[b-d991vibe2n][b-d991vibe2n][b-d991vibe2n] {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-cd7fy65azw] a.active[b-d991vibe2n][b-d991vibe2n][b-d991vibe2n] {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-cd7fy65azw] a:hover[b-d991vibe2n][b-d991vibe2n][b-d991vibe2n] {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-cd7fy65azw][b-d991vibe2n][b-d991vibe2n][b-d991vibe2n] {
        display: none;
    }

    .collapse[b-cd7fy65azw][b-d991vibe2n][b-d991vibe2n][b-d991vibe2n] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* _content/DDR/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-cd7fy65azw][b-d991vibe2n][b-d991vibe2n] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-cd7fy65azw][b-d991vibe2n][b-d991vibe2n] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-cd7fy65azw][b-d991vibe2n][b-d991vibe2n] {
    font-size: 1.1rem;
}

.oi[b-cd7fy65azw][b-d991vibe2n][b-d991vibe2n] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-cd7fy65azw][b-d991vibe2n][b-d991vibe2n] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-cd7fy65azw][b-d991vibe2n][b-d991vibe2n] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-cd7fy65azw][b-d991vibe2n][b-d991vibe2n] {
    padding-bottom: 1rem;
}

.nav-item[b-cd7fy65azw] a[b-d991vibe2n][b-d991vibe2n] {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-cd7fy65azw] a.active[b-d991vibe2n][b-d991vibe2n] {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-cd7fy65azw] a:hover[b-d991vibe2n][b-d991vibe2n] {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-cd7fy65azw][b-d991vibe2n][b-d991vibe2n] {
        display: none;
    }

    .collapse[b-cd7fy65azw][b-d991vibe2n][b-d991vibe2n] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* _content/DDR/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-cd7fy65azw][b-d991vibe2n] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-cd7fy65azw][b-d991vibe2n] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-cd7fy65azw][b-d991vibe2n] {
    font-size: 1.1rem;
}

.oi[b-cd7fy65azw][b-d991vibe2n] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-cd7fy65azw][b-d991vibe2n] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-cd7fy65azw][b-d991vibe2n] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-cd7fy65azw][b-d991vibe2n] {
    padding-bottom: 1rem;
}

.nav-item[b-cd7fy65azw] a[b-d991vibe2n] {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-cd7fy65azw] a.active[b-d991vibe2n] {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-cd7fy65azw] a:hover[b-d991vibe2n] {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-cd7fy65azw][b-d991vibe2n] {
        display: none;
    }

    .collapse[b-cd7fy65azw][b-d991vibe2n] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* _content/DDR/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-cd7fy65azw] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-cd7fy65azw] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-cd7fy65azw] {
    font-size: 1.1rem;
}

.oi[b-cd7fy65azw] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-cd7fy65azw] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-cd7fy65azw] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-cd7fy65azw] {
    padding-bottom: 1rem;
}

.nav-item[b-cd7fy65azw] a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

    .nav-item[b-cd7fy65azw] a.active {
        background-color: rgba(255,255,255,0.25);
        color: white;
    }

    .nav-item[b-cd7fy65azw] a:hover {
        background-color: rgba(255,255,255,0.1);
        color: white;
    }

@media (min-width: 641px) {
    .navbar-toggler[b-cd7fy65azw] {
        display: none;
    }

    .collapse[b-cd7fy65azw] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
