@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    background-color: #e3d4f5;
}

:root {
    --gmail: #000000;
    --linkedin: #0077B5;
    --instragram: #e4405f;
}

.alinear {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.AlinearPerfiles {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.perfilA {
    display: flex;
    height: 40vh;
    align-items: center;
}

.perfilB {
    display: flex;
    height: 40vh;
    align-items: center;
}

.perfilC {
    display: flex;
    height: 40vh;
    align-items: center;
}

.perfilesUno {
    height: 100px;
    width: 110px;
    border-radius: 50%;
}

.perfilesDos {
    height: 100px;
    width: 110px;
    border-radius: 50%;
}

.perfilesTres {
    height: 100px;
    width: 110px;
    border-radius: 50%;
}



/*1*/
.redes-containerUno {
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: left;
}

    .redes-containerUno ul li {
        display: inline-block;
        margin: 0 5px;
        width: 50px;
        height: 50px;
        text-align: center;
    }

        .redes-containerUno ul li a {
            display: block;
            padding: 0 10px;
            background: #333;
            color: #fff;
            line-height: 50px;
            font-size: 18px;
            box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
            transition: .2s;
        }

    .redes-containerUno ul:hover a {
        filter: blur(2px);
    }

    .redes-containerUno ul li a:hover {
        transform: translateY(-3px) scale(1.05);
        box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
        filter: none;
    }

    .redes-containerUno ul li .gmailUno:hover {
        background: var(--gmail);
    }

    .redes-containerUno ul li .linkedinUno:hover {
        background: var(--linkedin);
    }

    .redes-containerUno ul li .instagramUno:hover {
        background: var(--instragram);
    }

/*2*/
.redes-containerDos {
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: center;
}

    .redes-containerDos ul li {
        display: inline-block;
        margin: 0 5px;
        width: 50px;
        height: 50px;
        text-align: center;
    }

        .redes-containerDos ul li a {
            display: block;
            padding: 0 10px;
            background: #333;
            color: #fff;
            line-height: 50px;
            font-size: 18px;
            box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
            transition: .2s;
        }

    .redes-containerDos ul:hover a {
        filter: blur(2px);
    }

    .redes-containerDos ul li a:hover {
        transform: translateY(-3px) scale(1.05);
        box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
        filter: none;
    }

    .redes-containerDos ul li .gmailDos:hover {
        background: var(--gmail);
    }

    .redes-containerDos ul li .linkedinDos:hover {
        background: var(--linkedin);
    }

    .redes-containerDos ul li .instagramDos:hover {
        background: var(--instragram);
    }

/*3*/

.redes-containerTres {
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: right;
}

    .redes-containerTres ul li {
        display: inline-block;
        margin: 0 5px;
        width: 50px;
        height: 50px;
        text-align: center;
    }

        .redes-containerTres ul li a {
            display: block;
            padding: 0 10px;
            background: #333;
            color: #fff;
            line-height: 50px;
            font-size: 18px;
            box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
            transition: .2s;
        }

    .redes-containerTres ul:hover a {
        filter: blur(2px);
    }

    .redes-containerTres ul li a:hover {
        transform: translateY(-3px) scale(1.05);
        box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
        filter: none;
    }

    .redes-containerTres ul li .gmailTres:hover {
        background: var(--gmail);
    }

    .redes-containerTres ul li .linkedinTres:hover {
        background: var(--linkedin);
    }

    .redes-containerTres ul li .instagramTres:hover {
        background: var(--instragram);
    }



.Camarita {
    text-align: left;
}

.titulo pat {
    font-family: 'Oswald';
    font-size: 22px;
}

.top-row.px-4.auth { /* RANCIADA A ARREGLAR */
    display: none;
}

.cargar-patente {
    cursor: pointer;
    border: 2px solid #bf97df;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    color: white;
    background: rgb(61,58,115);
    background: linear-gradient(360deg, rgba(61,58,115,1) 0%, rgba(121,110,143,1) 30%, rgba(213,188,247,1) 100%);
}

    .cargar-patente span {
    }

input.patente {
    display: none;
}

.patente {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

    .patente span {
        display: block;
        font-weight: 600;
        margin-bottom: auto;
        /* font-weight: 500; */
        line-height: 0;
    }

.patente em::before {
    content: "Republica Argentina";
    display: block;
    font-size: 0.5em;
    background-color: blue;
    width: 100%;
    color: white;
    padding: 0.25em 0.75em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.inputEdit {
    font-size: 0.9em;
    width: 100%;
    padding: 0.10em 0em;
    letter-spacing: 0.125em;
    box-sizing: border-box;
    display: block;
    font-style: inherit;
    padding: 1px;
    font-family: 'Bebas Neue', cursive;
}
/*.inputEdit {
    content: "Republica Argentina";
    display: block;
    font-size: 0.5em;
    background-color: blue;
    width: 100%;
    color: white;
    padding: 0.25em 0.75em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}*/

    .patente em {
        display: block;
        font-style: normal;
        padding: 0;
        border-radius: 0.25em;
        font-size: 1.5em;
        margin-top: 0.5em;
        letter-spacing: 0.125em;
        font-family: 'Bebas Neue', cursive;
        border: 2px solid black;
        overflow: hidden;
        background: white;
    }

button {
    cursor: pointer;
    border: 2px solid #bf97df;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    color: white;
    background: rgb(61,58,115);
    background: linear-gradient(360deg, rgba(61,58,115,1) 0%, rgba(121,110,143,1) 47%, rgba(213,188,247,1) 100%);
    /*border: 0;
    padding: 0.25em 1em;
    border-radius: 0.5em;
    border: 3px solid #151d5d;
    background-color: blue;
    color: white;
    transition: all 0.5s;
    background-image: linear-gradient(rgb(5, 39, 103) 0%, rgb(58, 6, 71) 70%);*/
}

    button:hover {
        opacity: 0.8;
    }

.img-patente {
    width: 100%;
    border: 3px solid black;
    overflow: hidden;
    max-width: 400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
}

    .img-patente img {
        display: block;
        width: 100%;
        margin: auto;
    }

.button {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #f2595e;
    border-color: #F69DA1;
    border-width: 3px;
    border-style: solid;
}


a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
