@using DDR.Models
@page "/BaseDatos"
@using Microsoft.AspNetCore.Mvc


    <h3>BDD</h3>
    <h2>Cargar una nueva patente en la base de datos </h2>
    <EditForm Model="@NewPatente">
        <table class="table">
            <tr>
                <td>caracteres:</td>
                <td><input type="text" @bind="NewPatente.Caracteres"></input></td>
            
            </tr>
            <tr>
                <td>¿esta paga la patente?</td>
                <td><input type="checkbox" @bind="NewPatente.Pagada">si: </input></td>
                
            </tr>
        <button type="submit" class="btn btn-primary">cargar</button>
    </table>
        
      
    </EditForm>

   



@code {
   [Authorize(Roles = "Admin")]
    public class AdministrationController : Controller
    {
        public IActionResult Index() =>
            Content("Admin");
    }
    private Patente NewPatente = new Patente();

    
    
        
}
