@page "/Contactos"

<h1 style="text-align: center;">¡No dudes en contactarnos!</h1>

    <div class="AlinearPerfiles">
        <div class="perfilA">
            
                <img class="perfilesUno" src="css/prf.jpg" alt="Joaquin Pavone">
            
        </div>
        <div class="perfilB">
            
                <img class="perfilesDos" src="css/prf.jpg" alt="Federico Isla">
            
        </div>
        <div class="perfilC">
            
                <img class="perfilesTres" src="css/prf.jpg" alt="Lorenzo Giacchetta">
            
        </div>
    </div>
    <div class="alinear">
        @*Joaquin*@
        <div class="redes-containerUno">
            
            <ul style="margin: 0; padding: 0; box-sizing: border-box;">
                <li>
                    <a class="gmailUno" target="_blank" href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSKkHTfXJlcNdkNnBXWkXzgVjRjGzBSMnGnkVZMTvPWbFlPskjtnJMGJBWGSwVdQzJpgjrXt">
                        <i class="fa-regular fa-envelope">
                            
                        </i>
                    </a>
                </li>
                <li>
                    <a class="linkedinUno" target="_blank" href="https://www.linkedin.com/in/joaquin-pavone-9b881a247">
                        <i class="fab fa-linkedin-in">
                            
                        </i>
                    </a>
                </li>
                <li>
                    <a class="instagramUno" target="_blank" href="https://www.instagram.com/jota.ocho_/">
                        <i class="fab fa-instagram">
                            
                        </i>
                    </a>
                </li>
            </ul>
            
        </div>

        @*Federico*@
        <div class="redes-containerDos">
            <ul style="margin: 0; padding: 0; box-sizing: border-box;">
                <li>
                    <a class="gmailDos" target="_blank" href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcRwRdwWHFPBcnrSsPSNmWhjbWpjRWFXFXBRfGLKqgVWmsBZtczSvhqKjBVpxQPCvFFTlcXNw">
                        <i class="fa-regular fa-envelope">
                            
                        </i>
                    </a>
                </li>
                <li>
                    <a class="linkedinDos" target="_blank" href="https://www.linkedin.com/in/federico-isla-619437252">
                        <i class="fab fa-linkedin-in">
                            
                        </i>
                    </a>
                </li>
                <li>
                    <a class="instagramDos" target="_blank" href="https://www.instagram.com/fde.isla/">
                        <i class="fab fa-instagram">
                            
                        </i>
                    </a>
                </li>
            </ul>
            
        </div>
    
        @*Lorenzo*@
        <div class="redes-containerTres">
            <ul style="margin: 0; padding: 0; box-sizing: border-box;">
                <li>
                    <a class="gmailTres" target="_blank" href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcRwRdwWHFPBcnrSsPSNmWhjbWpjRWFXFXBRfGLKqgVWmsBZtczSvhqKjBVpxQPCvFFTlcXNw">
                        <i class="fa-regular fa-envelope">
                            
                        </i>
                    </a>
                </li>
                <li>
                    <a class="linkedinTres" target="_blank" href="https://www.linkedin.com/in/lorenzo-giacchetta-20543b252/">
                        <i class="fab fa-linkedin-in">
                            
                        </i>
                    </a>
                </li>
                <li>
                    <a class="instagramTres" target="_blank" href="https://www.instagram.com/lorengiacchetta/">
                        <i class="fab fa-instagram">
                            
                        </i>
                    </a>
                </li>
            </ul>
            
        </div>
    </div>

@*@code {

}
*@