@page "/"
@inject IModalService modal

@*<button @onclick="@(()=>modal.Show<NuevoLogin>(""))"class="btn btn-primary">Iniciar sesion</button>   *@

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/Identity/lib/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/Identity/css/site.css">
    
        <style id="inert-style">
        [inert] {
          pointer-events: none;
          cursor: default;
        }

        [inert], [inert] * {
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        </style>
    </head>

    <body class="loginbody">
        <header >

                <nav class="navbar navbar-expand-sm navbar-light navbar-toggleable-sm bg-white border-bottom box-shadow mb-3">
                    <div class="container">
                        <a class="navbar-brand" href="/">DDR</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" >

                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="Registro">Register</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
        </header>

        <div class="InicioSesion">

            <section class="content px-4" style="background: #e3d4f5;">
                <form id="account" method="post" novalidate="novalidate">
                    <div class="header">
        
                        <h3 style="text-align: center;">Inicio de sesion</h3>
            
                        <p>Inicia sesion para ingresar a la aplicacion.</p>
            
                    </div>
        
                    @*<div class="sep"></div>*@

                    <div class="inputs">
                            <hr>
                            <div class="form-group">
                                <label for="Input_Email">Email</label>
                                <input class="form-control" autocomplete="username" type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Input_Email" name="Input.Email" placeholder="Ingrese su correo" value="" autofocus>
                                <span class="text-danger field-validation-valid" data-valmsg-for="Input.Email" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group">
                                <label for="Input_Password">Password</label>
                                <input class="form-control" autocomplete="current-password" type="password" data-val="true" data-val-required="The Password field is required." id="Input_Password" name="Input.Password" placeholder="Ingrese contraseña">
                                <span class="text-danger field-validation-valid" data-valmsg-for="Input.Password" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label for="Input_RememberMe">
                                        <input type="checkbox" data-val="true" data-val-required="The Remember me? field is required." id="Input_RememberMe" name="Input.RememberMe" value="true">
                                        Remember me?
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button id="login-submit" type="submit" class="btn btn-primary" href="Inicio" style="margin-bottom: 20px;">Log in</button>
                            </div>
                            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8PxDd7vM0b9PvU6W0Z4aTJ42ZhTx6ZINM4ec1j2wSfVJWDnJE9yazXaneZ65bqGXAL-PUcvMUNzO6oTlw5_RyWDV70dYuHWv3ovZuaQFPcSyLvfGfWLN8li6x9CBBZ_eAeqVOtmhFTh8OdfwFw-r9Zc">
                            <input name="Input.RememberMe" type="hidden" value="false">
                           
                    </div>
                </form>
            </section>     
        </div>
    </body>
</html>
 
@code {
    
}
