<h3 style="color: darkviolet;">Logueo</h3>
<br/>
<div>
    <a href="Identity/Account/Register" class="btn btn-primary">Register</a>
    <a href="Identity/Account/Login" class="btn btn-primary">Log in</a>
</div>
@code {

}
