@*
    @page

    REGISTER REGISTER REGISTER    
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reeeeeeeeeeeeeegister - DDR</title>

    
        <link rel="stylesheet" href="/Identity/lib/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/Identity/css/site.css">
    
    
        <style id="inert-style">
            [inert] {
            pointer-events: none;
            cursor: default;
            }

            [inert], [inert] * {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            }
        </style>
    </head>
    <body>
        <header>

            <nav class="navbar navbar-expand-sm navbar-light navbar-toggleable-sm bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" href="/">DDR</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Identity/Account/Register?returnUrl=%2F">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Identity/Account/Login">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container">
        
            <main role="main" class="pb-1">
            
                <h1>Register</h1>

                <div class="row">
                        <div class="col-md-4">
                            <form id="registerForm" method="post" action="/Identity/Account/Register" novalidate="novalidate">
                                <h4>Create a new account.</h4>
                                <hr>
            
                                <div class="form-group">
                                    <label for="Input_Email">Email</label>
                                    <input class="form-control" autocomplete="username" type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Input_Email" name="Input.Email" value="">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.Email" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group">
                                    <label for="Input_Password">Password</label>
                                    <input class="form-control" autocomplete="new-password" type="password" data-val="true" data-val-length="The Password must be at least 6 and at max 100 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required." id="Input_Password" maxlength="100" name="Input.Password">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.Password" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group">
                                    <label for="Input_ConfirmPassword">Confirm password</label>
                                    <input class="form-control" autocomplete="new-password" type="password" data-val="true" data-val-equalto="The password and confirmation password do not match." data-val-equalto-other="*.Password" id="Input_ConfirmPassword" name="Input.ConfirmPassword">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.ConfirmPassword" data-valmsg-replace="true"></span>
                                </div>
                                <button id="registerSubmit" type="submit" class="btn btn-primary" href="/">Register</button>
                                <input name="__RequestVerificationToken" type="hidden" @*value="CfDJ8PxDd7vM0b9PvU6W0Z4aTJ7sD28F2Utg29p9JlXICevpvOzuiY4BWZJcotBANsHcni4_nQtJchQcjOlmD4jQ5eXSGbDBueXx1BmrDnumgE7mP-4Vk5l8XH9JxxAAxb63uU9J2phhjjT_0b2R36HazHI">
                            </form>
                        </div>
                        <div class="col-md-6 col-md-offset-2">
                            <section>
                                <h4>Use another service to register.</h4>
                                <hr>
                                <div>
                                    <p>
                                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                        about setting up this ASP.NET application to support logging in via external services</a>.
                                    </p>
                                </div>
                            </section>
                        </div>
                </div>


            </main>
        </div>
        <footer class="footer border-top pl-3 text-muted">
            <div class="container">
                © 2022 - DDR
            </div>
        </footer>

    
        <script src="/Identity/lib/jquery/dist/jquery.js"></script>
        <script src="/Identity/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="/Identity/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>
    
        <script src="/Identity/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

        <!-- Visual Studio Browser Link -->
        <script type="text/javascript" src="/_vs/browserLink" async="async" id="__browserLink_initializationData" data-requestid="8e789a9450274831ace1ff55125588d7" data-requestmappingfromserver="false" data-connecturl="http://localhost:52430/510bfe81997e4ef38e7383b7f1951dfd/browserLink"></script>
        <!-- End Browser Link -->

        <script src="/_framework/aspnetcore-browser-refresh.js"></script>

        <live-preview-root></live-preview-root>
    </body>
    </html>*@





    @* LOGIN LOGIN LOGIN
        <html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in - DDR</title>

    
        <link rel="stylesheet" href="/Identity/lib/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/Identity/css/site.css">
    
    
<style id="inert-style">
[inert] {
  pointer-events: none;
  cursor: default;
}

[inert], [inert] * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
</style></head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light navbar-toggleable-sm bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="/">DDR</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Identity/Account/Register?returnUrl=%2F">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Identity/Account/Login">Login</a>
    </li>
</ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        
        <main role="main" class="pb-1">
            

<h1>Log in</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post" novalidate="novalidate">
                <h4>Use a local account to log in.</h4>
                <hr>
                
                <div class="form-group">
                    <label for="Input_Email">Email</label>
                    <input class="form-control" autocomplete="username" type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Input_Email" name="Input.Email" value="">
                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.Email" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label for="Input_Password">Password</label>
                    <input class="form-control" autocomplete="current-password" type="password" data-val="true" data-val-required="The Password field is required." id="Input_Password" name="Input.Password">
                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.Password" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label for="Input_RememberMe">
                            <input type="checkbox" data-val="true" data-val-required="The Remember me? field is required." id="Input_RememberMe" name="Input.RememberMe" value="true">
                            Remember me?
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button id="login-submit" type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" href="/Identity/Account/ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a href="/Identity/Account/Register?returnUrl=%2F">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" href="/Identity/Account/ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8PxDd7vM0b9PvU6W0Z4aTJ42ZhTx6ZINM4ec1j2wSfVJWDnJE9yazXaneZ65bqGXAL-PUcvMUNzO6oTlw5_RyWDV70dYuHWv3ovZuaQFPcSyLvfGfWLN8li6x9CBBZ_eAeqVOtmhFTh8OdfwFw-r9Zc"><input name="Input.RememberMe" type="hidden" value="false"></form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr>
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
        </section>
    </div>
</div>


        </main>
    </div>
    <footer class="footer border-top pl-3 text-muted">
        <div class="container">
        © 2022 - DDR
        </div>
    </footer>

    
        <script src="/Identity/lib/jquery/dist/jquery.js"></script>
        <script src="/Identity/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="/Identity/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>
    
    

    
    
    <script src="/Identity/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>





<!-- Visual Studio Browser Link -->
<script type="text/javascript" src="/_vs/browserLink" async="async" id="__browserLink_initializationData" data-requestid="67c589a6adf4486198ca34868732ed1a" data-requestmappingfromserver="false" data-connecturl="http://localhost:52430/510bfe81997e4ef38e7383b7f1951dfd/browserLink"></script>
<!-- End Browser Link -->

<script src="/_framework/aspnetcore-browser-refresh.js"></script>

<live-preview-root></live-preview-root></body></html>
    *@
@code {

}
